.main_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.nav_ul {
    display: flex;
    list-style-type: none;
    padding: 1rem 2rem;
    gap: 2rem;
    background: #fff;
}

.nav_li {
    color: #072e4c;
    text-decoration: none;
    font-size: 2rem;
}
